<div class="header__wrapper">
    <header class="header">        
        <a href="../index.html">
            <img src="../img/logo.svg" class="header__logo" alt="logo">
        </a>
        <div class="menu__btn js-menu-btn">
            <div class="menu__btn-item"></div>
            <div class="menu__btn-item"></div>
            <div class="menu__btn-item"></div>
        </div>
        <nav class="header__list-wrapper js-menu-list">
            <ul class="header__list">
                <li class="header__list-item multi js-menu-item">
                    <a href="../category.html" class="header__list-link">Материалы</a>
                    <ul class="header__sublist js-menu-sub">
                        <li class="header__sublist-item">
                            <a href="../category.html?filter=file-alt" class="header__sublist-link">Текст</a>
                        </li>
                        <li class="header__sublist-item">
                            <a href="../category.html?filter=video" class="header__sublist-link">Видео</a>
                        </li>
                        <li class="header__sublist-item">
                            <a href="../category.html?filter=music" class="header__sublist-link">Аудио</a>
                        </li>
                    </ul>
                </li>
                <li class="header__list-item js-menu-item"><a href="gallery.html" target="_blank" class="header__list-link">Галерея</a></li>
                <li class="header__list-item js-menu-item"><a href="#" class="header__list-link">Пользователи</a></li>
                <li class="header__list-item js-menu-item"><a href="../contacts.html" class="header__list-link">Контакты</a></li>
            </ul>            
        </nav>
    </header>
</div>
