<div class="header__wrapper">
    <div class="header">        
        <a href="#">
            <img src="../img/logo.svg" class="header__logo" alt="logo">
        </a>
        <nav>
            <ul class="header__list">
                <li class="header__list-item">
                    <a href="#" class="header__list-link">Материалы</a>
                    <ul class="header__sublist">
                        <li class="header__sublist-item">
                            <a href="#" class="header__sublist-link">Текст</a>
                        </li>
                        <li class="header__sublist-item">
                            <a href="#" class="header__sublist-link">Видео</a>
                        </li>
                        <li class="header__sublist-item">
                            <a href="#" class="header__sublist-link">Аудио</a>
                        </li>
                    </ul>
                </li>
                <li class="header__list-item"><a href="#" class="header__list-link">Link</a></li>
                <li class="header__list-item"><a href="#" class="header__list-link">Link</a></li>
                <li class="header__list-item"><a href="#" class="header__list-link">Контакты</a></li>
            </ul>
        </nav>
    </div>
</div>
