.category {
    &__top {
        display:flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items:center;
        width:100%;
    }
    &__form {
        display:flex;
        width:45%;
        height:50px;
        
    }
    &__search {
        width:100%;
    }
    &__btn {
        @extend %btn;
        color:$white;
    }
    &__section {
        display:flex;
        justify-content:space-between;
        margin-top:30px;
    }
    &__title {
        @include font-size(18px);
        color:$blue;
    }
    &__thumb {
        display:block;
        max-width:100%;
        height:auto;
        transform:scale(1);
        transition:$main_animation;
        &-wrapper {
            display:flex;
            justify-content:center;
            align-items:center;
            width:100%;
            height: 250px;
            overflow:hidden;
        }
    }
    &__filter {
        width:100%;
        max-width:230px;
        padding:20px 10px 50px;
        border:1px solid $border;
        background:rgba($blue,0.05);
        &-block {
            display:flex;
            align-items:center;
            margin-left:15px;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
        &-input {
            position:absolute;
            left:-9999px;            
        }        
        &-label {
            display:block;
            width:20px;
            height:20px;
            background:$white;
            border:1px solid $blue;
            margin-right:10px;
            transition:$main_animation;
        }
        &-input:checked + &-label {
            background:$blue;
        }
        &-name {
            @include font-size(16px);                       
        }
    }
    
    &__sort {
        display: flex;
        flex-direction: column;
        list-style-type:none;
        margin:0 0 10px 15px;
        @include font-size(16px);
        &-item {
            padding:0;
            line-height:16px;
            transition:$main_animation;
            &:not(:last-child) {
                margin-bottom:10px;
            }
            &:hover {
                text-decoration:underline;
                cursor:pointer;
            }
        }
    }
    &__main {
        display:flex;
        flex-wrap: wrap;
        align-items:flex-start;
        margin:0 -10px;
        &-wrapper {
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            width:100%;
            padding-left:30px;
        }
    }
    &__item {  
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center; 
        width:calc(33.33% - 20px);
        margin:0 10px 20px;
        background:$white;
        opacity:0;
        transform:scale(0);
        border:1px solid $border; 
        animation:zoomIn 0.3s ease-in-out forwards;
        transition:$main_animation;
        &-block {
            height:55px;
            width:100%;
            padding:5px;
            @include font-size(16px);
            color:$blue;
            text-align:center;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            transition:$main_animation;            
        }
        &:hover {
            background:rgba($border,0.1);
            box-shadow: 0px 1px 18px 2px rgba($black, 0.05);
            .category__thumb {
                transform:scale(0.8);
            } 
        }
        @for $i from 1 through 6 {
            &:nth-child(6n + #{$i}) {
                animation-delay: #{$i * 0.1}s;
            }
        }
    }
    &__name {
        @include font-size(16px);
        color:$blue;
        margin-top:5px; 
    }
    &__author {
        @include font-size(16px);
        color:$blue;
        font-weight:700;
        align-self:flex-start;
    }
    &__dialog {  
        @extend %dialog;        
        &-wrapper {
            @extend %dialog-wrapper;            
        }
    }
    &__header {
        @extend .main__header;
        text-align:center;
    }

    &__label {
        @extend %label;
        &--required {
            @extend %label--required;
        }
    }
    &__file {
        margin-bottom:20px;
    }
    &__submit {
        @extend %btn;
        width:100%;
        color:$white;
    }
    &__input {
        @extend %input;
        height:40px;
        width:100%;
        margin-bottom:10px;
        &--radio {
            @extend %input;
        }
    }
    &__alert {
        @extend %alert;
        &.active {            
            display:block;
        }
    }

    &__row {
        display:flex;
        flex-wrap:wrap;
    }    
}