.gallery {
    display:flex;
    flex-wrap:wrap;
    margin:-15px -15px;
    &__item {
        cursor:pointer;
        width:calc(33.33% - 30px);
        margin:15px 15px;
    }
    &__thumb {
        max-width:100%;
        height:auto;
        display:block;
    }
    &__dialog {
        @extend %dialog;
        max-width: 700px;
        &-wrapper {
            @extend %dialog-wrapper;
        }
        &-thumb {
            max-width:100%;
            height:auto;
            display:block;
        }
    }
}