body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display:flex;
    position:relative;
    z-index:10;
    justify-content: space-between;
    align-items:center;
    height:80px;
    padding:0 40px;
    background:$green;
    &__list {
        display:flex;
        list-style-type:none;
        &-item {
            position:relative;
            padding: 0;
            &:not(:last-child) {
                margin-right:15px;
            }
            &:hover {
                .header__sublist-item {
                    padding:5px 10px;
                    opacity:1;
                    &:nth-child(1) {
                        transition-delay: 0s;
                    }
                    &:nth-child(2) {
                        transition-delay: 0.15s;
                    }
                    &:nth-child(3) {
                        transition-delay: 0.3s;
                    }
                }
            }
        }
        &-link {
            display:block;
            height:80px;
            line-height:80px;
            @include font-size(16px);
            color:$white;
            font-weight:500;
        }
    }
    &__sublist {
        display:flex;
        flex-direction: column;
        position:absolute;
        z-index:5;
        top: calc(100% + 1px);
        left:0;
        width:200px;        
        list-style-type: none;        
        transition:$main_animation;
        &-item {
            padding:5px 10px 5px 50px;
            background:rgba($green,0.7);
            outline:1px solid rgba($border,0.3);
            opacity:0;
            transition:$main_animation;
        }
        &-link {
            @include font-size(16px);
            color: $white;

        }
    }
    &__logo {
        display:block;
        max-width:50px;
        height:auto;
    }
}

.footer {
    height:80px;
    padding:0 40px;
    background:$blue;
}