@media screen and (max-width: 1024px) {
    .authors {
        &__thumb-block,&__desc {
            width:calc(100% - 30px);
        }
    }
}
@media screen and (max-width: 768px) {
    .menu {
        &__btn {
            display:block;
        }
    }
    .main {
        &__header--underlined {
            @include font-size(28px);
        }
        &__inner {
            width:90%;
        }
    }
    .header {
        padding: 0 5%;
        &__list {
            width:100%;
            flex-direction:column;
            align-items:center;
            background:$green;
            &-wrapper {
                display:block;
                position:absolute;
                top:100%;
                left:0;
                bottom:0;
                right:0;
                width:100%;
                transform: scaleY(0);
                transition:$main_animation;
                &.active {
                    transform: scaleY(1);
                }
            }
            &-item {
                display:flex;
                position:relative;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                width:100%;
                margin:0!important;
                border-top:1px solid rgba($border,0.7);
                background:darken($green,3%);
                transition:$main_animation;
                &:hover {
                    background:lighten($green,1%);
                }
                &.multi {
                    &:before {
                        content:'';
                        display:block;
                        position: absolute;
                        right:50px;
                        top:13px;
                        border-top:7px solid $white;
                        border-left:5px solid transparent;
                        border-right:5px solid transparent;
                        transition:$main_animation;
                    }
                    &.active {
                        &:before {
                            transform:rotate(-180deg);
                        }
                        .header__sublist {
                            max-height:999px;
                        }
                    }
                    .header__list-link {
                        width:auto;
                    }
                }    
            }
            &-link {
                display:inline-block;
                height:auto;
                width:100%;
                line-height:unset;
                text-align:center;
                padding:5px 0;                
            }
        }
        &__sublist {  
            max-height:0;         
            position: static;
            width:100%;
            overflow:hidden;
            transition:$main_animation;            
            &-item {
                display:none;
                background:darken($green,20%);
                &:hover {
                    background:darken($green,18%);
                }
                
            }
            &-link {
                padding-left:50px;
            }            
        }
    }

    .material {
        &__thumb-wrapper {
            width:100%;
        }
        &__block {
            margin:20px 0 0;
            width:100%;
        }
    }

    .slider {
        &__wrapper {
            padding:0;
        }
        &__button {
            display:none;
        }
    }

    .category {
        &__item {
            width:calc(50% - 20px);
            // transform:scale(1);
            // opacity:1;
            // animation:none;
        } 
        &__filter {
            flex-direction:column;
            max-width: none;
            margin-bottom:20px;
            padding-bottom:20px;
            &-block {
                &:last-child {
                    margin-bottom:5px;
                }
            }
            &-container {
                display:flex;
                flex-wrap:wrap;
            }
        }        
        &__sort {
            flex-direction:row;
            flex-wrap: wrap;
            &-item {
                &:not(:last-child) {
                    margin-right:10px;
                }
            }
        }
        &__section {
            flex-direction:column;
        }
        &__main {
            &-wrapper {
                padding-left:0;
            }
        }
        
    }    
}
@media screen and (min-width:579px) and (max-width: 768px) {
    .main {
        &__link {
            width:calc(50% - 30px);
        }
    }
    .authors {
        &-list {
            &__item {
                width:calc(50% - 30px);
            }
        }        
    }
    .posts {
        &__item {
            width:calc(50% - 20px);
        }
    }
}
@media screen and (max-width: 578px) {
    .main {
        &__link {
            width:calc(100% - 30px);
        }
        &__header {
            text-align:center;
        }
    }
    .category {
        &__form {
            width:100%;
            margin-bottom:10px;
        } 
        &__item {
            width:calc(100% - 20px);
        }
        &__sort {
            flex-direction: column;
        }
        &__filter-container {
            flex-direction:column;
        }
        &__btn {
            width:100%;
        }
        &__dialog {
            height:100vh;
            overflow-y:scroll;
            padding-top:30px;
            &-wrapper {
                height:100%;
                align-items:flex-start;
            }
        }
    }
    .gallery {
        &__item {
            width:calc(100% - 30px);
        }
    }
    .contacts {
        &__input {
            width:100%;
        }
    }
    .authors {
        &-list {
            &__item {
                width:calc(100% - 30px);
            }
        }
        .main__header {
            text-align:left;
        }
    }
    .posts {
        &__item {
            width:calc(100% - 20px);
        }
    }
}