$main_font: "Roboto";
$fix_font: Arial, sans-serif;
$main_font_size: 15px;
$main_line_height: 1.5;

/*Animations*/

$main_animation: all .3s ease-in-out;

$white: #ffffff;
$black: #231f20;
$green: #0e672f;
$blue: #0d4459;
$red: #bf1e1e;
$border: #ececec;

$fa-font-path: "../fonts";